/ChangingCases.class
/GetDomainname.class
/IndexOf.class
/StringCharAtMethod.class
/StringConcatenatentionMethod.class
/StringContainMassage.class
/StringEndWith.class
/StringEqualMassage.class
/StringLengthMethod.class
/StringReplaceMethod.class
/StringSubStringMassage.class
/StringTrimMethod.class
