/AssignmentOperator.class
/CalulationwithScanner.class
/ConstantValue.class
/LogicalOperator.class
/PEMDAS.class
/RalationalOpertor.class
/ScannerPractice.class
/TernaryOperator.class
/scannerObject.class
